.lm-logo {
	width: 160px;
	height: 60px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
	vertical-align: middle;
	margin: 0 15px;
	float: left;
}